aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.11.1
anyio==3.7.0
apache-airflow==2.6.2
apache-airflow-providers-common-sql==1.4.0
apache-airflow-providers-docker==3.7.0
apache-airflow-providers-ftp==3.3.1
apache-airflow-providers-google==10.1.1
apache-airflow-providers-http==4.3.0
apache-airflow-providers-imap==3.1.1
apache-airflow-providers-sqlite==3.3.2
apispec==5.2.2
argcomplete==3.1.1
asgiref==3.7.2
async-timeout==4.0.2
asynctest==0.13.0
attrs==23.1.0
Babel==2.12.1
backoff==2.2.1
beautifulsoup4==4.12.2
black==23.3.0
blinker==1.6.2
cached-property==1.5.2
cachelib==0.10.2
cachetools==5.3.1
cattrs==23.1.2
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
clickclick==20.10.2
colorama==0.4.6
colorclass==2.2.2
colorlog==4.8.0
commonmark==0.9.1
ConfigUpdater==3.1.1
connexion==2.14.2
cron-descriptor==1.4.0
croniter==0.3.37
cryptography==41.0.1
db-dtypes==1.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.6
dnspython==2.3.0
docker==6.1.3
docopt==0.6.2
docutils==0.20.1
email-validator==1.3.1
exceptiongroup==1.1.1
fastavro==1.7.4
flake8==5.0.4
Flask==2.2.5
Flask-AppBuilder==4.3.1
Flask-Babel==2.0.0
Flask-Caching==1.11.1
Flask-JWT-Extended==4.5.2
Flask-Limiter==3.3.1
Flask-Login==0.6.2
Flask-OpenID==1.3.0
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
frozenlist==1.3.3
gcloud-aio-auth==4.2.3
gcloud-aio-bigquery==6.3.0
gcloud-aio-storage==8.2.0
google==3.0.0
google-ads==21.2.0
google-api-core==2.11.0
google-api-python-client==2.93.0
google-auth==2.21.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-aiplatform==1.28.0
google-cloud-appengine-logging==1.3.1
google-cloud-audit-log==0.2.5
google-cloud-automl==2.11.2
google-cloud-bigquery==3.11.3
google-cloud-bigquery-datatransfer==3.11.2
google-cloud-bigquery-storage==2.22.0
google-cloud-bigtable==2.19.0
google-cloud-build==3.18.0
google-cloud-compute==1.13.0
google-cloud-container==2.26.0
google-cloud-core==2.3.3
google-cloud-datacatalog==3.14.0
google-cloud-dataflow-client==0.8.4
google-cloud-dataform==0.5.2
google-cloud-dataplex==1.5.1
google-cloud-dataproc==5.4.2
google-cloud-dataproc-metastore==1.12.0
google-cloud-dlp==3.12.2
google-cloud-kms==2.18.0
google-cloud-language==2.10.1
google-cloud-logging==3.5.0
google-cloud-memcache==1.7.2
google-cloud-monitoring==2.15.1
google-cloud-orchestration-airflow==1.9.1
google-cloud-os-login==2.10.0
google-cloud-pubsub==2.17.1
google-cloud-redis==2.13.1
google-cloud-resource-manager==1.10.2
google-cloud-secret-manager==2.16.2
google-cloud-spanner==3.36.0
google-cloud-speech==2.21.0
google-cloud-storage==2.10.0
google-cloud-tasks==2.13.2
google-cloud-texttospeech==2.14.1
google-cloud-translate==3.11.2
google-cloud-videointelligence==2.11.3
google-cloud-vision==3.4.4
google-cloud-workflows==1.10.2
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
graphviz==0.20.1
greenlet==2.0.2
grpc-google-iam-v1==0.12.6
grpcio==1.56.0
grpcio-gcp==0.2.2
grpcio-status==1.56.0
gunicorn==20.1.0
h11==0.14.0
httpcore==0.17.2
httplib2==0.22.0
httpx==0.24.1
idna==3.4
importlib-metadata==4.13.0
importlib-resources==5.12.0
inflection==0.5.1
iso8601==2.0.0
itsdangerous==2.1.2
jdcal==1.4.1
Jinja2==3.1.2
json-merge-patch==0.2
jsonschema==4.17.3
kubernetes==26.1.0
lazy-object-proxy==1.9.0
limits==3.5.0
linkify-it-py==2.0.2
lockfile==0.12.2
looker-sdk==23.10.0
Mako==1.2.4
Markdown==3.3.4
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mccabe==0.7.0
mdit-py-plugins==0.3.5
mdurl==0.1.2
multidict==6.0.4
mypy-extensions==1.0.0
natsort==8.4.0
numpy==1.21.6
oauthlib==3.2.2
ordered-set==4.1.0
packaging==23.1
pandas==1.3.5
pandas-gbq==0.19.2
pathspec==0.9.0
peewee==3.16.2
pendulum==2.1.2
pip-upgrader==1.4.15
pkgutil_resolve_name==1.3.10
platformdirs==3.8.0
pluggy==1.2.0
prison==0.2.1
proto-plus==1.22.3
protobuf==4.23.4
psutil==5.9.5
pyarrow==12.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.9
pydata-google-auth==1.8.1
pyflakes==3.0.1
Pygments==2.15.1
pyinstrument-cext==0.2.4
PyJWT==2.7.0
PyMySQL==1.1.0
pyOpenSSL==23.2.0
pyparsing==3.1.0
pyrsistent==0.19.3
python-daemon==3.0.1
python-dateutil==2.8.2
python-dotenv==0.21.1
python-nvd3==0.15.0
python-slugify==8.0.1
python3-openid==3.2.0
pytz==2019.3
pytzdata==2020.1
PyYAML==6.0
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==13.4.2
rich_argparse==1.1.1
rsa==4.9
setproctitle==1.3.2
Shapely==1.8.5.post1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==1.4.48
sqlalchemy-bigquery==1.7.0
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.41.1
sqlparse==0.4.4
swagger-ui-bundle==0.0.9
tabulate==0.9.0
tenacity==8.2.2
termcolor==2.3.0
terminaltables==3.1.10
text-unidecode==1.3
tomli==2.0.1
typed-ast==1.5.4
typing_extensions==4.6.3
uc-micro-py==1.0.2
unicodecsv==0.14.1
uritemplate==4.1.1
urllib3==1.26.16
websocket-client==1.6.1
Werkzeug==2.2.3
wrapt==1.15.0
WTForms==2.3.3
yarl==1.9.2
zipp==3.15.0
